.tooltip {position:absolute; background:#055296; padding:0px; display:none;}

.wrapper {border:1px solid #686A67; border-width:1px 1px 1px 1px;}

.tooltip .wrapper {background:#DAE9F7; padding:5px 15px; font:normal 10px verdana;margin:0px;}
.wrapper img {float:left; margin-right:10px}
.wrapper b {color:#000000; font:bold 10px verdana;}